.App {
  text-align: center;
}

.App-header {
  background-color: #da84a8;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.padding-ten {
  padding-top: 10px;
}

.hidden {
  display: none;
}

.classifications {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 8em;
  padding-bottom: 1em;
}

.spacing {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.styleButton {
  background-color: #da84a8;
  color: rgb(16, 16, 16);
  font-size: 15px;
  font-weight: bold;
  padding: 1% 3%;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.purpleColor {
  background-color: #9b84da;
}

.dropdown {
  color: rgb(16, 16, 16);
  font-size: 13px;
  border-radius: 5px;
  margin: 5px 5px; 
  cursor: pointer;
}

.red-text {
  color:#a02424;
  font-weight: bold;
}

.green-text {
  color:#24a026;
  font-weight: bold;
}